@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --top: #000212;
    --bottom:#352a4f;
}
html {
    scroll-behavior: smooth;
  }
.el-collapse-item__wrap{
    background: transparent !important;
    color:white !important
}
.el-collapse-item__content{
    color:white !important
}
.el-collapse-item{
    border: 1px solid rgb(255 255 255 / .1);
    padding: 0px 12px;
}
.el-collapse {
    --el-collapse-border-color: #f0f0f000 !important;
    --el-collapse-header-height: 48px;
    --el-collapse-header-bg-color: transparent !important;
    --el-collapse-header-text-color: white !important;
    --el-collapse-header-font-size: 13px;
    --el-collapse-content-bg-color: var(--el-fill-color-blank);
    --el-collapse-content-font-size: 13px;
    --el-collapse-content-text-color: var(--el-text-color-primary);
    border-top: 1px solid var(--el-collapse-border-color);
    border-bottom: 1px solid var(--el-collapse-border-color);
}
.card {
    width: 500px;
    height: 300px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card::after{
    content: "";
    width: 495px;
    height: 295px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@media only screen and (max-width: 600px) {
  .card{
    width: 300px;
    height: 200px;
  }
  .card::after{

    width: 295px;
    height: 195px;

   
}
}
.card::before{
    content: "";
    background-image: conic-gradient(
        #6640D7 10deg,
        transparent 50deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
body{
    font-family: 'SF Pro Display', sans-serif;
}

.el-carousel__mask{
    background-color: #182d3f !important;
}
.background1 {
    background: radial-gradient(
        ellipse 80% 50% at 50% -20%,
        rgba(120, 119, 198, 0.3),
        rgba(255, 255, 255, 0)
    );
}
.background2{
    background: rgb(5,8,42);
    background: linear-gradient(180deg, rgba(5,8,42,1) 0%, rgba(3,5,32,1) 20%, rgba(3,6,29,1) 50%, rgba(3,5,32,1) 80%, rgba(5,8,42,1) 100%);
}
.hid{
    opacity:0;
    filter:blur(5px);
    transform: translateX(-100px);
    transition: all 1s;

    
}
@media(prefers-reduced-motion){
    .hid{
        transition: none;
    }
}

.sh1{
opacity:1;
filter:blur(0);
transform:translateX(0);
}

.welcome{

    transform: perspective(500px) rotateX(30deg);
    transition: all 1s;

    
}
@media(prefers-reduced-motion){
    .hid{
        transition: none;
    }
}

.come{
    transform: perspective(200px) rotateX(0deg);
}
.shadow1:hover {
    box-shadow: 0px 0px 48px 0px rgba(100, 63, 213, 0.82);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(100, 63, 213, 0.82);
    -moz-box-shadow: 0px 0px 48px 0px rgba(100, 63, 213, 0.82);
}
.bookBackground {
    background: linear-gradient(
        92.88deg,
        rgb(69, 94, 181) 9.16%,
        rgb(86, 67, 204) 43.89%,
        rgb(103, 63, 215) 64.72%
    );
}
.hide {
    transition: opacity 200ms, display 200ms;
    display: none;
    opacity: 0;
}

.parent:hover > .hide {
    display: block;
    opacity: 1;
}
.bounce {
    animation: reverse 1s ease 0s 1;
}
@keyframes reverse {
    0% {
        left: 250px;
    }

    100% {
        left: 5px;
    }
}
.parent:hover > .bounce {
    animation: slide 1s ease 0s 1 forwards;
}
@keyframes slide {
    0% {
        left: 5px;
    }

    100% {
        left: 250px;
    }
}
.intro {
    animation: fade-down 1s linear;
}
.intro-text {
    opacity: 0;
    animation: fade-down 1s linear 1.2s 1 forwards;
}
.introCta {
    opacity: 0;
    animation: fade-down 1s linear 2.2s 1 forwards;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.container {
    width: 400px;
    overflow: hidden;
}
.container .text {
    position: relative;
    color: #4070f4;
    background-image: -webkit-linear-gradient(
        320deg,
        #4070f4 30%,
        hsla(0, 0%, 100%, 0.38)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.container .text.first-text {
    color: #fff;
}
.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #03061d;
    border-left: 3px solid #4070f4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%,
    60% {
        left: calc(100% + 20px);
    }
    100% {
        left: 0%;
    }
}

.text-background1 {
    color: #5e5c5c;
    background-image: -webkit-linear-gradient(
        320deg,
        #ffffff 30%,
        hsla(0, 0%, 100%, 0.38)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.service:nth-child(2){
    transition-delay:200ms;
}
.service:nth-child(3){
    transition-delay:400ms;
}
.service:nth-child(4){
    transition-delay:500ms;
}
.service:nth-child(5){
    transition-delay:600ms;
}
.service:nth-child(6){
    transition-delay:700ms;
}